---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-assert-side-effect,
  bugprone-assignment-in-if-condition,
  bugprone-copy-constructor-init,
  bugprone-dangling-handle,
  bugprone-infinite-loop,
  bugprone-misplaced-widening-cast,
  bugprone-move-forwarding-reference,
  bugprone-parent-virtual-call,
  bugprone-sizeof-container,
  bugprone-sizeof-expression,
  bugprone-string-constructor,
  bugprone-suspicious-*,
  bugprone-terminating-continue,
  bugprone-undefined-memory-manipulation,
  bugprone-use-after-move,
  bugprone-virtual-near-miss,
  concurrency-*,
  -concurrency-mt-unsafe,
  performance-*,
  -performance-enum-size,
  -performance-inefficient-string-concatenation,
  -performance-inefficient-vector-operation,
  -performance-move-const-arg,
  -performance-no-int-to-ptr,
  -performance-unnecessary-value-param,
  portability-std-allocator-const
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|tests)/.*\.(h|cpp)$'
FormatStyle: file
CheckOptions:
  performance-for-range-copy.WarnOnAllAutoCopies: true
